{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST">
            {% csrf_token %}
                <!-- <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">First name</label>
                    <input type="text" class="form-control" name="firstName">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Second name</label>
                    <input type="text" class="form-control" name="lastname">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Age</label>
                    <input type="number" class="form-control" name="age">
                </div> -->
             {{}}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}